<div class="container">
  <div class="row mt-5 text-center">
    <h1>Proofing Url</h1>
  </div>
  <div class="row">
    <div class="col-md-6 mt-5">
      <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <div class="form-group">
          <label for="url">Url</label>
          <input type="text" id="url" class="form-control" ngModel name="url">
        </div>
        <br>
        <button class="btn btn-primary " type="submit">Capture</button>
      </form>
    </div>
    <div class="col-md-6 mt-5">
      <img [src]="imageUrl" alt="" class="image">
    </div>
  </div>
</div>